body {
  background: #202020;
  color: #f5f5f5;
  font-size: 1.8rem;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

code {
  border: none;
  background: #4C566A;
  color: #ECEFF4;
  white-space: nowrap;
}

pre {
  background: #4C566A;
  overflow-y: hidden;
  border-radius: 5px;
}
pre > code {
  display: block;
  white-space: pre;
}

a {
  color: rgb(112, 158, 255)
}
a:hover {
  color: rgb(153, 184, 250)
}

.container {
  max-width: 800px;
}

.nav {
  margin-top: 5rem;
}

.nav-item a {
  text-decoration: none;
  font-family: "Consolas", "Monaco", "Menlo", monospace;
}

.nav-item a:hover {
  cursor: pointer;
  color: #7e7e7e;
  border: none;
}

.hero {
  height: 80vh;
}

.hero div {
  margin-bottom: 15rem;
}

.hero h3 {
  font-family: sans-serif;
  font-size: 5rem;
  margin-bottom: 0;
}

.hero h5 {
  margin-top: 1rem;
  margin-bottom: 0;
  font-weight: 200;
}

.footer {
  margin-top: 52px;
  margin-bottom: 24px;
}

table {
  width:100%;
  table-layout: fixed;
}
th {
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: #4C566A solid 1px;
}
td {
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  border-bottom: #4C566A solid 1px;
}
